.filters {
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 1px;
  color: #494949;
  cursor: pointer;
}

/* label{
  padding: 0 .5em;
} */

.filters:not(.btn) {
  padding: 0 .5em;
  border: 1px solid #e0dfdf;
}

.filters::placeholder {
  color: #f7f7f7;
}