@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.card:not(.true):not(.right):hover{
  background-color: #f9f9f9;
}

.empty{
  position: relative;
  top: 45%;
  transform: translate(0%, -45%);
  font-size: 20px;
  text-align: center;
}